<!DOCTYPE html>
<html>

    <head>
        <title>blogs</title>
    </head>

    <body>
        <h1>blogs </h1>

        <strong>{{ boldmessage }}</strong><br />

        {% if user.is_authenticated %}

            <a href="/blogs/restricted/">Restricted Page</a><br />
            <a href="/blogs/logout/">Logout</a><br />
            <a href="/blogs/add_blog/">Add a New blog</a><br />
            <a href="/blogs/user/{{profile.alias}}">Profile</a><br>

            <strong>List of blogs: </strong>
            {% for i in list_blogs %}

                <br><a href="/blogs/blog/{{ i.slug }}">{{i.title}}</a><br>

            {% endfor %}<br>

        {% else %}
            <a href="/blogs/register/">Register Here</a><br />
            <a href="/blogs/login/">Login</a><br />

        {% endif %}

    </body>
</html>